.card {
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    margin: 0 auto;
    margin-top: -35rem;
    border-radius: 5px;
  }
  
  .card h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .card label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    background-color: #eaf2eb;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #272f27;
    color: aquamarine;
  }
  
  .btn-signup {
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    background-color: #04570e;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 3%;
  }
  
  .btn-signup:hover {
    background-color: #200eba;
    color: #edebe9;
  }
  
  .error-message {
    color: #d93025;
    margin-top: 5px;
  }
  
  .success-message {
    color: #17a832;
    margin-top: 5px;
  }