service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to sendEmail collection only for authenticated users
    match /sendEmail/{document=**} {
      allow read, write: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.to == request.auth.token.email;
    }

    // Allow read and write access to receivedEmail collection only for authenticated users
    match /receivedEmail/{document=**} {
      allow read, write: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.to == request.auth.token.email;
    }
    
    // Add more match rules for other collections as needed
  }
}

