.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
  }
  
  .email {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    width: 60rem;
    margin-top: -59rem;
    margin-left: 18rem;
}
  
  
  .subject {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .to {
    font-size: 16px;
    margin-bottom: 5px;
    color: #777;
  }
  
  .body {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  